<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Não vistos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="call-outline" color="primary" slot="start"></ion-icon>
    <ion-label>Ligações</ion-label>
    <ion-badge slot="end" color="primary">3</ion-badge>
  </ion-item>

  <ion-item>
    <ion-icon name="chatbubble-ellipses-outline" color="warning" slot="start"></ion-icon>
    <ion-label>Mensagens</ion-label>
    <ion-badge slot="end" color="warning">36</ion-badge>
  </ion-item>

  <ion-item>
    <ion-icon name="mail-outline" color="dark" slot="start"></ion-icon>
    <ion-label>E-mails</ion-label>
    <ion-badge slot="end" color="dark">23</ion-badge>
  </ion-item>

  <ion-item>
    <ion-icon name="person-add-outline" color="success" slot="start"></ion-icon>
    <ion-label>Novos seguidores</ion-label>
    <ion-badge slot="end" color="success">16</ion-badge>
  </ion-item>

  <ion-item>
    <ion-icon name="heart-outline" color="danger" slot="start"></ion-icon>
    <ion-label>Curtidas</ion-label>
    <ion-badge slot="end" color="danger">43</ion-badge>
  </ion-item>
</ion-content>
