<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Rede XYZ</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="wifi-outline" slot="start"></ion-icon>
    <ion-label>
      Nome: Rede XYZ
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="wifi-outline" slot="start"></ion-icon>
    <ion-label>
      Senha: ******
    </ion-label>
  </ion-item>

  <ion-button color="primary" expand="blook">
    Esquecer rede
  </ion-button>
</ion-content>
